@import "vars"
@import "_mixins/breakpoints"

/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)



// ≥992px
+media-breakpoint-down(md)

	#header-carousel .carousel-indicators li
		width: 60px

	#block-menu
		background-color: white
		.menu-item
			height: 70px
			flex: 300px 1 0
			font-size: 24px
			letter-spacing: 3.2px
			background-color: $accent

// ≥768px
+media-breakpoint-down(sm)

	form
		margin: 0
		img.close-form
			margin: 40px 0 0 0
		h2
			font-size: 35px
			letter-spacing: 5px
		input, p
			font-size: 16px
		h3
			font-size: 28px
			letter-spacing: 2.8px

	header
		position: relative !important
		background: url('../img/main/photo-6.jpg') no-repeat right -200px top
		background-size: 300%
		@media (orientation: landscape)
			background-size: 150%
		a.navbar-brand
			padding: 0 100px
		nav.navbar
			height: 100vh
			align-items: baseline
			.navbar-toggler, .phone
				padding: 40px 20px
			.phone
				color: white
				left: auto
			ul.navbar-nav
				top: -50px
				bottom: -50px
				left: -50px
				right: -50px
				padding: 200px 0
				position: fixed
				background-color: rgba(0,0,0, .7)
				@media (orientation: landscape)
					padding: 150px
				li.nav-item
					margin: 0 auto
					border: 0
					a.nav-link
						font-size: 25px
						letter-spacing: 7.35px
		.btn-order
			margin-bottom: 10%
			flex-grow: 1
			align-self: flex-end

	.carousel-indicators
		bottom: -50px
		li
			width: 6px
			height: 6px
			margin: 0 10px
			border-radius: 50%
			background-color: #d8d8d8
			&.active
				background-color: #8b302a

	.container h2
		width: 70% !important
		margin: 0 auto !important
		padding: 60px 0 15px 0 !important
		font-size: 40px
		letter-spacing: 4px

	.space
		height: 12px

	#block-about .wrapper
		height: auto
		background: none
		h2
		.block-about-text
			width: auto
			margin-top: 30px
			font-size: 16px
			letter-spacing: 1.5px
			line-height: 20px

	#block-menu
		margin: 110px 0 0 0
		h3
			font-size: 24px

	#block-stock
		margin: 0 !important

	#block-photoes
		h3
			margin: 50px 0 25px 0

	#block-contacts
		margin-top: 70px
		height: 100%
		background: black
		.block-contacts-text
			width: 300px
			.socials-list
				width: 190px

	footer
		font-size: 14px

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
