@import "vars"
@import "fonts"

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	font-weight: 300
	min-width: 320px
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	
iframe
	border: none

b, strong
	font-family: "Bebas Neue Bold"
	font-weight: normal

a
	color: inherit
	&:hover
		color: inherit
		text-decoration: none

p
	margin: 0

ul
	margin: 0
	padding: 0
	li
		list-style-type: none

h2
	font-family: "Bebas Neue Bold"
	font-size: 55px
	letter-spacing: 6px
	text-transform: uppercase

h3
	font-family: "Bebas Neue Bold"

.block
	max-width: $max-width
	margin: 0 auto

.space
	height: 19px

.btn
	height: 40px
	flex: 240px 0 0
	color: inherit
	font-family: "Bebas Neue"
	letter-spacing: 5px
	white-space: nowrap
	border-radius: 4px
	border: $thin-border
	&:hover
		color: inherit
		font-family: "Bebas Neue Bold"
		border: $thick-border

header
	transition: all .5s ease
	a.navbar-brand:hover
		transform: scale(1.05)
	.navbar-toggler
		width: 20%
		.navbar-toggler-icon
			background: url('../img/svg/menu.svg')
	.navbar-toggler, .phone
		padding: 50px 25px
	.phone
		left: auto
	img.close-menu
		display: none
		cursor: pointer
	#navbarNav
		flex: 540px 0 0
	li.nav-item
		height: 30px
		border-bottom: $thin-border
		&:hover
			border-bottom: $thick-border
		a.nav-link
			font-size: 17px
			letter-spacing: 5px

#header-carousel
	height: 100vh
	.carousel-inner
		height: inherit
		.carousel-item
			height: inherit
			img
				height: inherit
				object-fit: cover
	.carousel-footer
		margin-top: -95px
	.carousel-indicators
		margin-right: 9%
		margin-left: 18%
		position: relative
		li
			width: 14%
			background-color: transparent
			font-size: 25px
			text-indent: 0
			&:hover
				font-family: "Bebas Neue Bold"
				opacity: 1
	.carousel-control-next, .carousel-control-prev
		width: 100px
		margin-top: -15px
		position: relative
		opacity: .7
		&:hover
			opacity: 1
	.carousel-control-prev-icon, .carousel-control-next-icon
		width: 100px
		background-image: url('../img/main/arrow-right.png')
	.carousel-control-prev-icon
		transform: rotate(180deg)

.description
	bottom: 120px
	width: 565px
	height: 126px
	text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5)
	font-size: 30px
	letter-spacing: 4px
	text-transform: uppercase
	z-index: 100
	h1
		font-family: "Bebas Neue Bold"
		font-size: 42px
		line-height: 42px
		small
			font-family: $default-font
			font-size: 30px

#block-about
	color: $accent
	.wrapper
		height: 800px
		background: url('../img/main/block-about.jpg') no-repeat left
		background-size: cover
		h2
			width: 350px
			margin: 120px 0 0 0
			padding: 55px 0 40px
			border-bottom: 3px solid $accent
		.block-about-text
			width: 470px
			margin: 55px 0
			font-family: inherit
			font-size: 20px
			line-height: 25px
			letter-spacing: .1em

#block-menu
	margin: 120px auto
	background-color: $accent
	.menu-item
		height: 120px
		margin: 43px 0
		font-size: 30px
		letter-spacing: 5px
		text-transform: uppercase
		h4
			margin: 0
		a
			border-bottom: $thin-border__transparent
			&:hover
				border-bottom: $thin-border

#block-stock
	margin-top: 90px
	h2
		margin-bottom: 35px
		color: $accent
	.stock-item
		flex: 350px 1 0
		padding: 30px
		position: relative
		background-color: $accent
	img
		max-width: 100%
	.stock-item-text
		width: 265px
		font-size: 25px
		letter-spacing: 3px
		line-height: 30px
	img.close-more
		top: 20px
		right: 20px
		width: 17px
		height: 17px
		display: none
		cursor: pointer
	.stock-item-text__more
		width: 325px
		font-size: 17px
		letter-spacing: 2px
		line-height: 23px
		opacity: 0
	.btn-more
		bottom: 100px
		color: inherit
		font-size: 17px
		border: none
		letter-spacing: 2px
		text-decoration: underline
	.stock-item:first-child .stock-item-text, .stock-item:last-child .stock-item-text__more
		width: 250px

#block-photoes
	h3
		margin: 80px 0 50px 0
		color: $accent
		font-size: 42px
		letter-spacing: 4px
		text-transform: uppercase

#block-contacts
	margin-top: 120px
	font-family: "Bebas Neue Bold"
	font-size: 25px
	line-height: 37px
	letter-spacing: 3px
	background: url('../img/main/block-contacts.jpg') no-repeat left top
	h2
		width: 350px
		padding-top: 85px
	.block-contacts-text
		width: 455px
		.space
			height: 38px
	ul.socials-list
		width: 230px
		margin-top: -5px

a.socials-link
	opacity: .8
	&:hover
		opacity: 1

footer
	font-family: $default-font
	font-size: 20px
	letter-spacing: .13em
	a:hover
		text-decoration: underline

#block-order
	display: none
	background-color: rgba(0,0,0, .8)
	z-index: 5000

form
	width: 500px
	max-width: 100%
	padding: 15px
	&>*
		transition: all .5s ease
	img.close-form
		margin-right: -450px
		cursor: pointer
	h2
		margin-top: 30px
		font-size: 42px
	input
		width: 90%
		padding-top: 20px
		color: inherit
		text-align: center
		font-size: 17px
		letter-spacing: 2px
	input:not([type="submit"])
		height: 60px
		background-color: transparent
		border: none
		border-bottom: $thin-border
	input:focus
		border-bottom: $thick-border
		transition: all .1s ease
	input.error
		border-bottom: $thin-border__red
	input.valid
		border-bottom: $thin-border__green
	input::selection
		background-color: $text
		color: $accent
	p
		font-size: 17px
		letter-spacing: 3px
		line-height: 50px
		&.message
			opacity: 0

	h3
		font-size: 30px
		letter-spacing: 3px

#stock-popup
	bottom: -500px
	width: 450px
	height: 450px
	left: auto
	background-color: rgba(0, 0, 0, 0.7)
	border-radius: 50%
	transition: bottom 1s ease
	&.showed
		bottom: 20%
	img.close-stock
		cursor: pointer
	h2
		font-size: 30px
		letter-spacing: .1em
	p
		font-size: 20px
		letter-spacing: 2px
		line-height: 25px

@import "media"