@import "vars"
@import "fonts"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

b, strong
	font-family: "Bebas Neue Bold"
	font-weight: normal

a
	color: $text
	&:hover
		color: $text
		text-decoration: none

p
	margin: 0

ul
	margin: 0
	padding: 0
	li
		list-style-type: none

h2
	font-family: "Bebas Neue Bold"
	font-size: 55px
	color: $accent
	letter-spacing: 6px
	text-transform: uppercase

h3
	margin: 0
	white-space: nowrap

img
	margin: -1px

.block
	max-width: $max-width
	margin: 0 auto

.space
	height: 18px

#header-carousel
	max-height: 900px
	.carousel-footer
		margin-top: -120px
	.carousel-indicators
		margin-left: 22%
		position: relative
		li
			width: 103px
			background-color: transparent
			font-size: 25px
			text-indent: 0
			&:hover
				font-weight: bold
				opacity: 1
	.carousel-control-next, .carousel-control-prev
		width: 30%
		margin-top: -15px
		position: relative
		opacity: .7
		&:hover
			opacity: 1
	.carousel-control-prev-icon, .carousel-control-next-icon
		width: 100px
		background-image: url('../img/main/arrow-right.png')
	.carousel-control-prev-icon
		transform: rotate(180deg)

header
	z-index: 100
	background-color: rgba(0, 0, 0, 0.3)
	a.navbar-brand
		padding: 20px 0
		&:hover
			transform: scale(1.01)
	.navbar-toggler-icon
		background-image: url('../img/main/menu.png')
	li.nav-item
		height: 30px
		border-bottom: $thin-border
		&:hover
			border-bottom: $thick-border
		a.nav-link
			font-size: 17px
			letter-spacing: 5px
	.wrapper-nav
		width: 100%
	.wrapper-btn
		width: 31%
		.btn-order
			height: 40px
			width: 240px
			color: $text
			font-family: "Bebas Neue"
			letter-spacing: 5px
			white-space: nowrap
			border-radius: 4px
			border: $thin-border
			&:hover
				color: $text
				font-weight: bold
				border: $thick-border

.description
	bottom: 60px
	width: 555px
	height: 126px
	text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5)
	font-size: 30px
	letter-spacing: 4px
	text-transform: uppercase
	z-index: 100
	h1
		font-family: "Bebas Neue Bold"
		font-size: 42px
		line-height: 42px
		small
			font-family: $default-font
			font-size: 30px

.block-about
	color: $accent
	.wrapper
		height: 800px
		background: url('../img/main/block-about.jpg') no-repeat left
		h2
			width: 350px
			margin: 220px 0 0 0
			padding: 45px 0 27px
			border-bottom: 3px solid $accent
		.block-about-text
			width: 460px
			margin: 45px 0
			font-family: "Bebas Neue Book"
			font-size: 20px
			line-height: 25px
			letter-spacing: 1.9px

.block-menu
	margin: 115px auto
	background-color: $accent
	.menu-item
		height: 120px
		margin: 43px 0
		font-family: "Bebas Neue Bold"
		font-size: 30px
		letter-spacing: 5px
		text-transform: uppercase
		border-bottom: $thin-border__transparent
		&:hover
			border-bottom: $thin-border
		span
			font-family: "Bebas Neue Book"
			font-weight: 300

.block-stock
	margin-top: 105px
	.stock-item
		background-color: $accent
	img
		width: 300px
		height: 300px
	.stock-item-text
		width: 265px
		font-size: 25px
		letter-spacing: 3px
		line-height: 30px
		span
			font-family: "Bebas Neue Bold"
	.stock-item:first-child .stock-item-text, .stock-item:last-child .stock-item-text
		width: 230px

.block-photoes
	h3
		margin: 85px 0 45px 0
		color: $accent
		font-family: "Bebas Neue Bold"
		font-size: 42px
		letter-spacing: 4px
		text-transform: uppercase
	.photoes
		margin: 5px auto

.block-contacts
	height: 900px
	background: url('../img/main/block-contacts.jpg') no-repeat left
	h2
		width: 350px
		margin: 120px 0 0 0
		padding-top: 105px
		color: $text
	.block-contacts-text
		width: 455px
		margin-top: 55px
		font-family: "Bebas Neue Bold"
		font-size: 25px
		line-height: 37px
		letter-spacing: 3px
		overflow: hidden
		.space
			height: 50px
		.socials-list
			width: 230px

footer
	padding-top: 125px
	font-size: 20px
	letter-spacing: 2.67px
	a:hover
		text-decoration: underline

form
	top: -700px
	right: 500px
	height: 600px
	width: 500px
	padding: 20px 50px
	background-color: $accent
	z-index: 10000
	img
		cursor: pointer
	h2
		margin-top: 40px
		color: $text
		font-size: 42px
	input:not([type="submit"])
		height: 60px
		width: 80%
		padding-top: 20px
		color: $text
		text-align: center
		background-color: $accent
		border: 0
		border-bottom: $thin-border
		font-size: 17px
		letter-spacing: 2px
	input[type="submit"]
		width: 80%
		margin: 50px 0 25px 0
	p
		font-size: 17px
		letter-spacing: 3px
		line-height: 24px
	h3
		font-size: 30px
		letter-spacing: 3px

@import "media"